body {
    background-color: #101010;
    color: #ffffff;
}

/* PAGE LAYOUT */
.fullpage {
    width: 100%;
    height: 100%;
}

.sideOpen {
    background-color: #101010;
    display: inline-block;
    width: 25%;
    height: 100%;
}
.sideClose {
    background-color: #101010;
}

.cards {
    display: inline-flex;
    float: right;
}
.cards.full {
    width: 100%;
}
.cards.contract {
    width: 75%;
}

/* CHALL FORMAT */
.card {
    display: inline-grid;
    text-align: left;
    margin: 0vw 0vw 4vw 4vw;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 20vw;
    max-height: 20vw;
    background-color: #404040;
    border: none;
    color: white;
}

.text {
    position: relative;
}
span {
    margin-left: 1.25vw;
    display: block;
    max-width: 18vw;
    overflow-wrap: break-word;
    line-height: 1.5;
}
.cat {
    margin-top: 1vw;
    color: #d0d0d0;
    font-size: 1.5vw;
}
.title {
    color: #ffffff;
    font-size: 2.25vw;
    font-weight: bold;
}
.tag {
    color: #ff8c4c;
    font-size: 1.5vw;
}
.stat {
    margin-left: 1vw;
    position: absolute;
    top: 15.5vw;
    font-size: 1.5vw;
    width: 9vw;
    padding: 0.5vw;
    text-align: center;
    border-radius: 10vw;
}
.stat.ON {
    color: #101010;
    background-color: #ffe81a;
}
.stat.OFF {
    color: #ffffff;
    background-color: #f44d8a;
}

/*.stat.ON:active {
    background-color: #EFD80A;
    -webkit-box-shadow: inset 0px 0px 5px #D3BB00;
       -moz-box-shadow: inset 0px 0px 5px #D3BB00;
            box-shadow: inset 0px 0px 5px #D3BB00;
     outline: none;
}

.stat.OFF:active {
    background-color: #e43d7a;
    -webkit-box-shadow: inset 0px 0px 5px #C82162;
       -moz-box-shadow: inset 0px 0px 5px #C82162;
            box-shadow: inset 0px 0px 5px #C82162;
     outline: none;
}*/

/* SIDEBAR FORMAT */

.block {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem;
}

.svg {
    height: 100%;
}

.filterbtn {
    transition: width 0.3s ease-in-out;
    background-color: transparent;
    border: none;

    aspect-ratio: 1 / 1;
    height: 2rem;
}
.filterbtn.close {
    display: block;
    margin: 1rem 5vw 4vw;
}
.filterbtn.open {
    margin-left: auto;
    margin-right: -0.5rem;
}
.hide {
    display: none;
}

.menu {
    border: solid 0.125rem #ffba44;
    padding: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    text-align: left;
    font-weight: bold;
}
.menu.open {
    background-color: #ffba44;
    color: #101010;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
}
.menu.close {
    background-color: #101010;
    color: #ffba44;
    border-radius: 0.75rem;
}

.boolean {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding: 0.25rem 1rem 0.75rem;
    overflow: hidden;
}

.dropdown {
    border: 0.125rem #d0d0d0;
    border-style: none solid solid solid;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: #101010;
    color: #d0d0d0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dropdown.last {
    border-radius: 0rem 0rem 0.75rem 0.75rem;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;

    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}
.arrow.pointS {
    border-width: 0.7rem 0.4rem 0 0.4rem;
    border-color: #101010 transparent transparent transparent;
}
.arrow.pointE {
    border-width: 0.4rem 0 0.4rem 0.7rem;
    border-color: transparent transparent transparent #ffba44;
}

.dot {
    height: 0.8rem;
    width: 0.8rem;
    margin-left: 0rem;
    margin-right: 0.8rem;

    border-radius: 50%;
    display: inline-block;
}
.dot.inc {
    background-color: #ffe81a;
}
.dot.exc {
    background-color: #f44d8a;
}

.search {
    display: flex;
    width: 24vw;
    padding: 0.25rem 0.75rem 0.25rem;
}
.searchbar {
    background-color: #d0d0d0;
    color: #404040;
    border: none;
    border-radius: 1.25rem;
    font-size: 0.8rem;

    height: 2rem;
    padding: 0 0.75rem;
    width: calc(24vw - 4rem);
    margin: 0.25rem;
}
.searchbtn {
    background-color: #ffba44;
    border: none;
    border-radius: 1.25rem;

    height: 2rem;
    width: 2.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
}
.searchbtn:hover {
    background-color: #ffe81a;
}
