.content-div {
    height: calc(89vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 10vh;
    padding-top: 10vh;
}

.deployment-info {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: flex-start;
}

.stat.ON {
    color: #101010;
    background-color: #ffe81a;
}
.stat.OFF {
    color: #ffffff;
    background-color: #f44d8a;
}

.deploy {
    height: 3rem;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: large;
    transition: box-shadow 0.3s ease;

    width: 15rem;
}
.deploy.OFF {
    background-color: #f44d8a;
    color: white;
    font-weight: bold;
}
.deploy.ON {
    background-color: #d0d0d0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsvg {
    height: 2rem;
}

.buttonsvg.l {
    margin-right: 2rem;
}

.buttonsvg.r {
    margin-left: 2rem;
}

.IP-port-box {
    min-width: 12rem;
    height: 3rem;
    border: 2px solid #ffe81a;
    margin: 0 0 2rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
