body {
    background-color: #101010;
    color: #ffffff;
}

.filter {
    display:block;

    background-color: transparent;
    border:none;

    margin: 1rem 5vw 4vw;
    aspect-ratio : 1 / 1;
    height:2rem;
}

.svg {
    height: 100%;
}

.card {
    display: inline-grid;
    text-align:left;
    margin:0vw 0vw 4vw 4vw;
    position:relative;
    aspect-ratio: 1 / 1;
    width: 20vw;
    max-height:20vw;
    background-color:#404040;
    border:none;
    color:white;
    
}

.text {
    position:relative;    
}

span {
    margin-left:1.25vw;
    display:block;
    max-width:18vw;
    overflow-wrap: break-word;
    line-height:1.5;
}

.cat{
    margin-top:1vw;
    color: #D0D0D0;
    font-size:1.75vw;
}

.title{
    color: #FFFFFF;
    font-size:2.25vw;
    font-weight:bold;
}
.tag{
    color: #FF8C4C;
    font-size: 1.5vw;
}
.stat{
    margin-left: 1vw;
    position: absolute;
    top:15.5vw;
    font-size: 1.5vw;
    width: 9vw;
    padding: 0.5vw;
    text-align: center;
    border-radius:10vw;
}
.stat.ON{
    color: #101010;
    background-color: #FFE81A;
}
.stat.OFF{
    color:#FFFFFF;
    background-color:#F44D8A;
}

.stat.ON:active {
    background-color: #EFD80A;
    -webkit-box-shadow: inset 0px 0px 5px #D3BB00;
       -moz-box-shadow: inset 0px 0px 5px #D3BB00;
            box-shadow: inset 0px 0px 5px #D3BB00;
     outline: none;
}

.stat.OFF:active {
    background-color: #e43d7a;
    -webkit-box-shadow: inset 0px 0px 5px #C82162;
       -moz-box-shadow: inset 0px 0px 5px #C82162;
            box-shadow: inset 0px 0px 5px #C82162;
     outline: none;
}