.hide {
    display: none;
}
.filterbtnClose {
    display:block;
    transition: width 0.3s ease-in-out;
    background-color: transparent;
    border:none;

    margin: 1rem 5vw 4vw;
    aspect-ratio : 1 / 1;
    height:2rem;
}

.filterbtnOpen {
    transition: width 0.3s ease-in-out;
    background-color: transparent;
    border:none;

    aspect-ratio : 1 / 1;
    height: 2rem;
    margin-left:auto;
    margin-right:-0.5rem;
}

.svg {
    height: 100%;
}

.sideOpen {
    display:block;
    height:100%;
    width: 24vw;
    background-color: #101010;
    float:left;
}
.sideClose {
    background-color: #101010;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem;
}

.menuOpen{
    border: solid 0.125rem #FFBA44;
    padding:0.5rem;
    font-size:0.8rem;
    background-color:#FFBA44;
    text-align:left;
    color: #101010;
    font-weight:bold;
    border-radius:0.75rem 0.75rem 0rem 0rem;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menuClose{
    border: solid 0.125rem #FFBA44;
    padding:0.5rem;
    font-size:0.8rem;
    background-color:#101010;
    text-align:left;
    color: #FFBA44;
    font-weight:bold;
    border-radius: 0.75rem;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdown{
    border: 0.125rem #D0D0D0;
    border-style: none solid solid solid;
    padding:0.25rem;
    font-size: 0.8rem;
    background-color:#101010;
    color: #D0D0D0;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dropdownLast{
    border: 0.125rem #D0D0D0;
    border-style: none solid solid solid;
    padding:0.25rem;
    font-size: 0.8rem;
    background-color:#101010;
    color: #D0D0D0;
    border-radius:0rem 0rem 0.75rem 0.75rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
