.Home {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(99vh - 5rem);
}

.Home-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Home-logo {
        animation: Home-logo-spin infinite 20s linear;
    }
}

.Home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

@keyframes Home-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}