* {
    font-family: "Roboto Mono", monospace;
}

body {
    margin: 0;
    background-color: #101010;
    color:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.svg {
    height: 100%;
}

nav {
    display: inline-block;
    position: sticky;

    background-color: #101010;
    color: white;

    top: 0px;
    height: 5rem;
    width: 100%;
    z-index: 9999;
}

.button {
    background-color: #ffba44;
    border: none;
    color: #101010;
    font-weight: 600;
    font-size: 1rem;
    font-size: 0.9rem;

    margin: 1rem 2rem 1rem 0rem;
    min-width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.button.right {
    float: right;
}
.homeButton {
    float: left;

    background-color: transparent;
    border: none;

    margin: 0.5rem 1.5rem;
    aspect-ratio: 1 / 1;
    min-width: 4rem;
    height: 80%;
}

button:hover {
    opacity: 80%;
}
