.Profile-Register-div {
    height: calc(80vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile-Register-inner {
    text-align: left;
}

.Profile-Register-heading {
    color: #ffba44;
    margin-left: 10px;
}

.Profile-Login-div {
    height: calc(80vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile-Login-inner {
    text-align: left;
}

.Profile-Login-heading {
    color: #ffba44;
    margin-left: 10px;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    width: 65vw;
}

.row {
    display: flex;
    align-items: stretch;
    padding: 5px;
}

.column {
    white-space: nowrap;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.column:nth-child(1) {
    background-color: #404040;
    color: #f0f0f0;
    font-weight: 600;
    flex-basis: 35%;
    gap: 0;
}

.column:nth-child(2) {
    background-color: #d0d0d0;
    flex-basis: 65%;
}

.button {
    background-color: #ffba44;
    border: none;
    color: #101010;
    font-weight: 600;

    margin: 1.25rem 3rem 1.25rem 0rem;
    min-width: 5rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    font-size: larger;
}
