.Profile-Register-div {
    height: calc(80vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile-Register-inner {
    text-align: left;
}

.Profile-Register-heading {
    color: #ffba44;
    margin-left: 10px;
}

.Profile-Login-div {
    height: calc(80vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Profile-Login-inner {
    text-align: left;
}

.Profile-Login-heading {
    color: #ffba44;
    margin-left: 10px;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    width: 65vw;
}

.row {
    display: flex;
    align-items: stretch;
    padding: 5px;
}

.column {
    padding: 10px;
    padding-left: 20px;
    align-items: center;
    display: block;
}

.column:nth-child(1) {
    background-color: #404040;
    color: #f0f0f0;
    font-weight: 600;
    width: 20vw;
    gap: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column:nth-child(2) {
    background-color: #d0d0d0;
    border-style: none;
    color: #101010;
    font-weight: lighter;
}

.column:nth-child(3) {
    background-color: #f0f0f0;
    border-style: none;
    color: #101010;
    font-weight: 600;
}

.column1:nth-child(2) {
    width: 32vw;
}

.column1:nth-child(3) {
    width: 13vw;
}

.column2:nth-child(2) {
    width: 45vw;
}

.shake-animation {
    animation: shake 0.5s;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.centered-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 0.8rem;
    width: 0.8rem;
    margin-left: 0rem;
    margin-right: 0.8rem;

    border-radius: 50%;
    display: inline-block;
    background-color: green;
    border: 2px solid white;
}
